<h1>User Profile</h1>

Username: <%= @user.username %><br>
First Name: <%= @user.first_name %><br>
Last Name: <%= @user.last_name %><br>
Birthday: <%= @user.birthday %><br>


<!-- <% @posts.each do |post| %>
<%= post.title %><br>
<%= post.content %>
<% end %> -->


 <!-- <% @users.each do |user| %>
  <%= user.username %><br>
  <%= user.first_name %><br>
  <%= user.last_name %><br>
  <%= user.birthday %><br>
<% end %> --> 