<!-- <% users.each do |user| %>
  <%= user.username %><br>
  <%= user.first_name %><br>
  <%= user.last_name %><br>
  <%= user.email %>
<% end %>
-->

<h1>User Profile</h1>

<%= current_user.username %>
<%= current_user.password %>
<%= current_user.birthday %>